<%- include('partials/header') -%>

<h1 class="text-4xl">Legacy App</h1>

<% if (locals.isAuthenticated) { %>
    <p>You are logged in. <a href="/profile" class="underline">View your profile</a>.</p>

    <iframe
    src="https://appsmith.fun/app/internal/page1-647d86d8b951aa4632949186?embed=true&ssoTrigger=oidc" height="700" width="100%"></iframe>
<% } else { %>
    <p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
<% } %>

<%- include('partials/footer') -%>
